<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="PATTERN" value="[%date{ISO8601}][%-5level][%logger{36}][%X{akkaSource}] %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <define name="LOG_PATH" class="com.github.demo.config.TypesafeConfigPropertyDefiner">
        <propertyName>common.log.path</propertyName>
    </define>
    <define name="LOG_NAME" class="com.github.demo.config.TypesafeConfigPropertyDefiner">
        <propertyName>common.log.name</propertyName>
    </define>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/${LOG_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 10 days worth of history, but at most 3GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <define name="LOG_LEVEL" class="com.github.demo.config.TypesafeConfigPropertyDefiner">
        <propertyName>common.log.level</propertyName>
    </define>
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.apache.kafka" level="INFO" />

</configuration>